<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="module1_assignment.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="moduleApp">
   <div class="container" ng-controller="moduleAppController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchMenu">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="evalItemsCount();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->{{message}}
         </div>
   </div>

</body>
</html>
